.link {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
@media screen and (min-width: 1024px) {
  .link:hover {
    color: black;
  }
}

.activeLink {
  color: black;
  font-weight: bold;
}

.list {
  display: flex;
  gap: 20px;
}
@media (prefers-color-scheme: dark) {
  .link {
    color: #d7deeb;
  }

  .activeLink {
    color: #1a1d24;
    font-weight: bold;
    position: relative;
  }
  .activeLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
}

/* 
@media screen and (max-width: 800px) {
  .link:hover {
    color: #747fff;
  }
} */
