.form {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 20px;

  .input {
    padding: 3px 15px;
    margin-bottom: 15px;
  }
}
.label {
  margin-bottom: 5px;
}
.button {
  padding: 5px 10px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(150, 255, 140);
  border: none;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
    background-color: rgb(63, 234, 48);
  }
}
.name {
  margin-bottom: 10px;
}

.error {
  color: crimson;
  margin-top: -15px;
  margin-bottom: 10px;
}
.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
