ul {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap; /* Це дозволить елементам переноситися на новий рядок, якщо вони не поміщаються */
  gap: 15px; /* Встановлює відстань між елементами */
}
